/node_modules
/front-mat/node_modules
/front-mat/.idea
/front-mat/.next
/front-mat/.next/*
/public/hot
/public/storage
/storage/*.key
/vendor
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
composer.lock
/front-mat/package-lock.json
npm-debug.log
yarn-error.log
.env.local
.idea
front-mat/.next/static/chunks/pages/login.js
front-mat/.next/trace
front-mat/.next/cache/webpack/client-development/5.pack
front-mat/.next/cache/webpack/client-development/index.pack
front-mat/.next/cache/webpack/client-development/index.pack.old
front-mat/.next/cache/webpack/server-development/4.pack
front-mat/.next/cache/webpack/server-development/index.pack
front-mat/.next/cache/webpack/server-development/index.pack.old
front-mat/.next/server/pages-manifest.json
front-mat/.next/server/pages/login.js
front-mat/.next/static/chunks/webpack.js
front-mat/.next/static/chunks/pages/login.js
